<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style type="text/css">
    body {
      background: <%= background %>; 
    }
    .ad {
      margin: auto;
      border: none; 
      display: block;
      width: <%= size.width %>px;
      height: <%= size.height %>px;
    }
  </style>
</head>
<body>
  <iframe src="ads/<%= name %>/index.html" class="ad"></iframe>
</body>
</html>